@media (min-width: 768px) {
  .pagina-actividades .rejilla--actividades {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .pagina-actividades .encabezado-pagina h1 {
    font-size: 2rem;
  }
  .pagina-actividades .rejilla--actividades {
    grid-template-columns: repeat(3, 1fr);
  }
}
